.*.swp
.bundle
.ruby-version
.ruby-gemset
.yardoc
yard
rdoc
tmp
vendor/bundle
*.bundle
*.so
*.dll

# The models get rather large past this point, so don't risk annoying github.
data/models/board_size-3.max_exponent-7*
data/models/board_size-3.max_exponent-8*
data/models/board_size-3.max_exponent-9*

data/array_models/board_size-3.*
data/array_models/board_size-4.*

data/solvers/board_size-3.max_exponent-8*

